<div class="container mx-auto px-8 py-12 mt-8 ">
  <section class="py-8">
    <div class="bg-[#EDA415] w-4 h-10 rounded-md">
      <h2 class=" w-[200px]  me-5 ps-5 py-2 text-xl font-bold">My Wishlist</h2>
    </div>
  </section>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pb-28 pt-10" role="button">
    @if (products && products.length > 0) {
      @for (prod of products; track prod.id) {
        <div class="relative w-full max-w-sm bg-white border border-gray-300 rounded-lg shadow-xl hover:shadow-2xl transition-shadow duration-300">
          <div class="card px-5 py-4">
            <div [routerLink]="['/details', prod.id]">
              <a href="#">
                <img class="w-[300px] h-48 mx-auto object-contain rounded-t-lg" [src]="prod.imageCover" alt="product image" />
              </a>
              <a href="#">
                <h3 class="text-xl font-semibold tracking-tight text-gray-900">
                  {{ prod.title.split(" ", 3).join(" ") }}
                </h3>
                <h3 class="text-md font-medium text-gray-500">
                  {{ prod.category.name.split(" ", 3).join(" ") }}
                </h3>
              </a>
              <div class="flex items-center mt-2">
                <div class="flex items-center space-x-1 rtl:space-x-reverse"></div>
                <span class="text-gray-500 text-md font-semibold px-2.5 py-0.5 rounded-sm ms-3">5.0</span>
              </div>
              <div class="flex items-center justify-between mt-4">
                <span class="text-2xl font-bold text-[#003F62]">{{ prod.price }}$</span>
              </div>
            </div>
            <button
              (click)="removeFromWishlist(prod.id)"
              class="absolute top-3 right-3  rounded-full shadow  text-red-700 hover:text-red-900 transition">
              <i class="fa-solid fa-heart text-xl text-red-500"></i>
            </button>
            <button
              (click)="addToCart(prod.id)"
              type="button"
              class="w-full mt-4 text-black border-[#EDA415] border-2 bg-white hover:bg-[#003F62] hover:text-white focus:ring-4 focus:outline-black font-medium rounded-b-[30px] rounded-l-[29px] text-sm px-5 py-2.5 text-center inline-flex items-center justify-center transition-colors duration-300">
              Add To Cart
            </button>
          </div>
        </div>
      }
    } @else {
      <p class="text-center text-gray-500 col-span-full">No products in your wishlist.</p>
    }
  </div>
</div>
