<section class="mx-auto w-full md:w-4/5 pb-8 md:pb-32 pt-8 px-4 mt-20"> <!-- Made width wider with md:w-4/5 -->
  <h1 class="font-bold text-green-600 text-center pb-5 text-xl md:text-2xl">LOGIN..</h1>
  <div class="bg-white shadow-md shadow-gray-500 rounded-none p-6">
    
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="email" type="email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-green-600 bg-transparent border-0 border-b-2 border-green-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-green-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:text-green-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Your Email</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="password" type="password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-green-600 bg-transparent border-0 border-b-2 border-green-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer" placeholder=" " required />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-green-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:text-green-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Your Password</label>
      </div>
      <div class="flex justify-center items-center md:justify-end p-4">
        <h1 routerLink="/forgotPassword" role="button" class="text-sm font-semibold mb-2 me-2 text-green-600">Forgot Password</h1>
        <button type="submit" [disabled]="isLoading" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-green-600 focus:outline-none bg-white rounded-none border border-green-300 hover:bg-green-100 focus:z-10 focus:ring-4 focus:ring-green-200">
          Sign in
          <span><i class="fas fa-spin fa-spinner"></i></span>
        </button>
      </div>
      <div class="text-center text-red-600 py-2">
        {{ msgError }}
      </div>
    </form>
    <h1 routerLink="/register" role="button" class="py-2.5 px-5 text-center w-full text-sm font-medium text-white focus:outline-none bg-green-600 rounded-none hover:bg-green-700">
      Register
    </h1>
  </div>
</section>
